.awesome_header{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.awesome_header_line {
    border-top: 1px solid #D98943;
    width: 64px;
    display: block;
    text-align: center;
    margin: auto;
}
.awesome_subheader {
    text-align: center;
    font-size: 14px;
    color:  #86878B;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.awesome_card {
    margin: auto;
    text-align: center;
}
.awesome_card_item {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: auto;
}
.awesome_card_title {
    font-size: 20px;
    color:  #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.awesome_card_text {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    color:  #000
    font-family: 'Open Sans', sans-serif;
}

.awesome_card_img {
    width: 30px;
    height: 30px;
    border: 1px solid #D98943;
    border-radius: 50%;
    padding: 10px;
    margin-top: 67px;
}